$primary-text-color: #757575;
$title-text-color: #434343;
$acent-color: rgb(173, 149, 81, 0.7);
$bcg-button-color: #F5F4FA;
$white-text-color: #FFFFFF;
$fonts: 'Roboto', sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
